* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  position: relative;
  margin: 0;
}

body.dark-mode {
  color: #eee;
}

.page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

.box {
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 3rem;
  border: 3px solid transparent;
}

.box--keep {
  border: 3px solid #fd5858;
}

.popup {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: absolute;
  display: none;
}

.popup-content {
  background: #ebebeb;
  padding: 1rem 3rem;
  border: 7px solid #4341e7;
  border-radius: 10px;
}

.popup-content h1,
.popup-content h2 {
  color: #4341e7;
}

.dark-mode .popup-content h1,
.dark-mode .popup-content h2 {
  color: #45f0a7;
}

.popup-content section + section {
  margin-top: 2.5rem;
}

.dark-mode .popup-content {
  background: #000;
  border: 7px solid #45f0a7;
}

.numberOfBoxes {
  width: 50px;
  padding: 5px;
}

.dark-mode a {
  color: lightblue;
}

.dark-mode {
  transition: all 0.7s;
}

.popup--active {
  top: 0;
  left: 0;
  display: grid;
  animation: fadeIn 0.7s;
}

.developer {
  display: block;
  text-align: right;
}

.mobile {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 108px);
    margin: 1rem;
    cursor: pointer;
  }

  .mobile-spin {
    width: 200px;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    background: #fff;
    font-weight: bold;
  }
}
